.content{
  text-align: center;
  padding-top: 25%;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px orange rgba(0,0,0,0.1),
               0px 18px 23px yellow rgba(0,0,0,0.1);
}

body{
background-image: url("https://images.unsplash.com/photo-1416331108676-a22ccb276e35?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=776672d584510320e88310e8c6513f5f");
  background-size: cover;
  background-position: center;
  font-family: lato;
  color: inherit;
  padding-top: 0;
}

h1{
  font-weight: 700;
  font-size: 5em;
}

html{
  height: 100%;
}

hr{
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
